profcom_cards/debug/main.o
*.cpp
profcom_cards/debug/profcom_cards.exe
profcom_cards/debug/moc_profkom.o
*.o
*.h
profcom_cards/profkom.h
profcom_cards/Makefile
*.ca2c4b7
profcom_cards/Makefile.Debug
*.user
*.Release
profcom_cards/profcom_cards.pro.user
*.user
*.user
build-profcom_cards-Desktop_Qt_5_5_1_MinGW_32bit-Debug/
Книга1.csv
temp.csv
*.pdf
